#include <winver.h>
#include "version.rc"
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
FILEVERSION VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
     BLOCK "080404B0"
     BEGIN
         VALUE "CompanyName", "BITCOM Co., Ltd."
         VALUE "FileDescription", "parkingserver"
         VALUE "FileVersion", VER_FILEVERSION_STR
         VALUE "InternalName", "parkingserver"
         VALUE "LegalCopyright", "Copyright 2015 BITCOM Technology Co., Ltd. All rights reserved."
         VALUE "OriginalFilename", "parkingserver.exe"
         VALUE "ProductName", "parkingserver"
         VALUE "ProductVersion", VER_PRODUCTVERSION_STR
     END
 END
 BLOCK "VarFileInfo"
 BEGIN
     VALUE "Translation", 0x804, 1200
 END
END
